---
import PageLayout from "../../layouts/PageLayout.astro";

import "../../../base.css";
---

<PageLayout title={"Donate"}>
  <div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg md:my-12">
    <h2 class="text-3xl font-bold text-center text-red-800 mb-4">
      Donate to Us
    </h2>
    <p class="text-gray-700 leading-relaxed mb-6">
      The Jonang Takten Phuntsok Choeling Monastery is a very small, modest
      monastery of more than one hundred monks. The majority of the monks come
      from Tibet, India, and Mongolia. A great many of the monks are from very
      poor families and, as such, are unable to pay for their food, shelter, or
      study, contributing instead by sharing in the daily running of the
      monastery.
    </p>
    <p class="text-gray-700 leading-relaxed mb-6">
      The upkeep and maintenance of elderly and dilapidated buildings, the
      provision of an adequate diet for the monks, and the cost of good medical
      care place a daily burden upon the monastery. Dedicated as it is to
      meditation, study, and spiritual training, the monastery must rely upon
      the support of kind and charitable donations.
    </p>
    <h3 class="text-2xl font-semibold text-red-700 mb-2">Ways to Donate:</h3>
    <p class="text-gray-700 leading-relaxed mb-6">
      <strong>Make a bank transfer:</strong> If you would like to make a bank transfer,
      it is possible to wire your donation directly to our bank account in India.
      (We recommend that you check with your bank as to what charges may be made
      for the transfer):
    </p>
    <div class="bg-gray-100 p-4 rounded-lg mb-6">
      <h4 class="text-lg font-semibold text-red-600">Bank Details:</h4>
      <p class="text-gray-700 mb-1">
        Name: Jonang Takten Phuntsok Chosling Cultural Society
      </p>
      <p class="text-gray-700 mb-1">Bank name: State Bank of India</p>
      <p class="text-gray-700 mb-1">Account No: 4008 4616 933</p>
      <p class="text-gray-700 mb-1">SWIFT code: SBININBB104</p>
      <p class="text-gray-700 mb-1">IFSC code: SBIN 0000 691</p>
      <p class="text-gray-700 mb-1">Branch code: 00691</p>
    </div>
    <p class="text-gray-700 leading-relaxed mb-6">
      If you wish, please specify how you would like your donation to be used.
      We would like to ensure that we use every donation for the use it is
      intended. Also, when making a donation via bank transfer, it is
      recommended to alert the monastery via e-mail so that we may confirm the
      receipt of your donation.
    </p>
    <h4 class="text-lg font-semibold text-red-600 mb-2">
      Contact Information:
    </h4>
    <ul class="text-gray-700 mb-6">
      <li>Phone: +91 117 2841410 (office)</li>
      <li>Phone: +91 177 2645280 (mobile)</li>
      <li>
        Email: <a
          href="mailto:office@jonangmonastery.com"
          class="text-blue-600 hover:underline">office@jonangmonastery.com</a
        >
      </li>
    </ul>
    <p class="text-gray-700 leading-relaxed mb-6">
      <strong>Or send a cheque:</strong> If you wish to post a donation to the monastery,
      please make cheques payable to:
    </p>
    <div class="bg-gray-100 p-4 rounded-lg mb-6">
      <h4 class="text-lg font-semibold text-red-600">Cheque Details:</h4>
      <p class="text-gray-700 mb-1">
        Name: Jonang Takten Phuntsok Choeling Cultural Society
      </p>
      <p class="text-gray-700 mb-1">
        Postal address: Jonang Takten Phuntsok Choeling Tibetan Buddhist
        Monastery, Sanjauli, Shimla, Himachal Pradesh, 171006, India
      </p>
    </div>
  </div>
</PageLayout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
